In [1]:
if True:
    print("Welcome to Jupyter Notebook")
else:
    print("Wait for some time")

Welcome to Jupyter Notebook

In [3]:
none = 9
print(none)

9

In [4]:
#comments

In [5]:
"""
Sambath kumar is working on python programming language
"""

'\nSambath kumar is working on python programming language\n'

In [6]:
def sam(a,b):
    """
    a is first number
    b is second number
    """
    print("The sum of two numbers are..")
    return a+b

c=sam(15,20.5)
print(c)

The sum of two numbers are..
35.5

In [7]:
"""
    a is first number
    b is second number
    """
print("Welcome")

Welcome

In [9]:
a=4
print(a)
"""
    a is first number
    b is second number
"""

4

'\n    a is first number\n    b is second number\n'

In [40]:
a=4

"""
    It is another representation of multi-line comments
    Instead of multiple #
    a is first number
    b is second number
"""
print(a)

4

Keyword:
    It is reserved name or word to do specific purpose
    eg,. print, if, else, and so on.
    35 keywords available as on May 2023.

In [12]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
s = 5
print(s)

5

In [23]:
s1 = 5.5
def sum1(a,b):
    global s2 
    s2 = 6
    print("s1: ",s1)
    print("s2: ",s2)
    return a+s2

print(sum1(s1,7))
print(s2)

s1:  5.5
s2:  6
11.5
6

Comments

In [1]:
# Add two numbers
# Single-line comment
a=5    # value of a
b=8    # value of b
c=a+b  # add a and b
print(c)

13

In [28]:
### hai all
# it is an example for multi-line comment

In [33]:
def sum2(a,b):
    '''
    Inputs:
    a is first number
    b is second number
    
    Return:
    add a and b
    '''
    return a+b

In [30]:
c=sum2(11,16)

In [31]:
print(c)

27

Calling doc string using a syntax:
"functionname.__doc__"
Generally, used for functions or classes

In [34]:
sum2.__doc__

'\n    Inputs:\n    a is first number\n    b is second number\n    \n    Return:\n    add a and b\n    '

In [35]:
def sum2(a,b):
    """
    Inputs:
    a is first number
    b is second number
    
    Return:
    add a and b
    """
    return a+b

In [38]:
# It shows documentation part of a function : sum2
print(sum2.__doc__)

    Inputs:
    a is first number
    b is second number

    Return:
    add a and b

Indentation: Spacing properly for a block
It has minimum one space bar 
it has four space bar by default
But, it should be same in a same block

In [46]:
for i in range(0,5,1):
 print(i) # single space indentation

0
1
2
3
4

In [47]:
while False:
    print("wrong")

Statements:
Logical instructions 
Types:
Assignment statements,
conditional statements,
loop statements, etc,.

In [48]:
f = 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4 + 1 + 4 + 6 + 2 + 8.6 + 2.4
print(f)

216.0

In [50]:
# multi-line statements using backslash

f1 = 1 + 4 + 6 + 2 + 8.6 + 2.4 + \
    1 + 4 + 6 + 2 + 8.6 + 2.4 + \
    1 + 4 + 6 + 2 + 8.6 + 2.4
    
print(f1)

72.0

In [53]:
# multi-line statements using bracket [], {}, or paranthesis ()
f2 = (1 + 4 + 6 + 2 + 8.6 + 2.4 + 
      1 + 4 + 6 + 2 + 8.6 + 2.4 + 
      1 + 4 + 6 + 2 + 8.6 + 2.4 + 
      1 + 4 + 6 + 2 + 8.6 + 2.4 )
print(f2)

96.0

VAriable:
    It is a named location to stored data in a memory
    It is assigned by '=' operator
    It is dynamic type. no need to mention data type when we assign.
    we may chage the type by using "cast" keyword.

In [59]:
a=5
b=7.5
print(type(a)) # type keyword shows the datatype of a variable
print(type(b))

<class 'int'>
<class 'float'>

In [58]:
type(a)
type(b) #display only last statement unlike print function which display all statements

float

DATA TYPES:
    int 
    float
    string
    list
    tuple
    dictionary

In [61]:
a1 = "sambath" #string using double quote
a2 = ' kumar'  #string using single quote
print(a1+a2)   # merge or concatenate two strings

sambath kumar

In [16]:
# List : contain heterogeneous elements
# ordered items, mutable - changable (add, delete, edit or modify elements anywhere in a list)
# ordered = get the value using index as 0,1,2,...N-1
items = ["apple", "orange", 1, "water", 10.66, "watermelon"]
print(items)
# contain strings, int and float

['apple', 'orange', 1, 'water', 10.66, 'watermelon']

In [69]:
items1 = ["apple", "orange", "water", "watermelon", [1,10.66]]
print(items1)

['apple', 'orange', 'water', 'watermelon', [1, 10.66]]

Tuples:
    odered
    immutable
    create by ()

In [72]:
# Tuple : Like list but it is unmutable.
# created by using ()
item2 = (1,2,3,"name","age")
print(item2)

(1, 2, 3, 'name', 'age')

In [18]:
het_tuple=(1,2,3,["name","age"])

In [19]:
het_tuple

(1, 2, 3, ['name', 'age'])

In [20]:
het_tuple[1]

2

Dictionary:
    Key:value pair
    mutable 
    unordered - Not indexed like list 
    created by using {}

In [75]:
my_dict = {"Name":"sambath", "Age": 36, "items":[2,5,6,7], ("qualification",'mobile'):["MTech","Redmi"]}

In [76]:
print(my_dict)

{'Name': 'sambath', 'Age': 36, 'items': [2, 5, 6, 7], ('qualification', 'mobile'): ['MTech', 'Redmi']}

In [23]:
my_dict1 = {"Name":"sambath", "Age": 36, "items":"banana", "marks":98}
print(my_dict1)

{'Name': 'sambath', 'Age': 36, 'items': 'banana', 'marks': 98}

Set type:
    Unordered collection of items like dictionary
    Each element is unique
    It is like set theory (union, intersection,..)
    create by using {}

In [4]:
fruits = {"banana", "orange", "apple"}
print(fruits)

{'orange', 'banana', 'apple'}

Standard input and output:
     Instead of hard coding, user can give their input when program runs

In [5]:
ab = input("Enter the Name:")
print(ab)

Enter the Name: Sambath Kumar

Sambath Kumar

In [10]:
ab = input("Enter the Name:")
print(f"how are you! {ab}")  #f before the string in print function to format the string literals (f-string)

# pass the variable inside {}, evaluated and inserted into string

Enter the Name: sambath

how are you! sambath

Package

In [11]:
import math
i = math.sqrt(25)
print(i)

5.0

other ways to call package and particular module or function

In [12]:
import math as m
i = m.sqrt(25)
print(i)

5.0

In [14]:
# It saves memory 
from math import sqrt
j = sqrt(16)
print(j)

4.0